body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust:none
}

mark {
  background-color: transparent;
  color:inherit
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input[type="text"], input[type="email"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance:none
}

*, * :before, * :after {
  box-sizing: border-box;
}

body {
  line-height: 1.0;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
}

body:before {
  content: '';
  display: block;
  background-attachment: scroll;
  height: var(--background-height);
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  width: 100vw;
  z-index: 0;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.44921875%200%200%200%200%200%200.44921875%200%200%200%200%200%200.44921875%200%200%200%200%200%200.1875%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(to top, rgba(255, 255, 255, 0.902), rgba(255, 255, 255, 0.902)), url('https://boxathon.carrd.co/assets/images/bg.jpg?v=c36759b0');
  background-size: 512px, auto, cover;
  background-position: center, 0% 0%, top;
  background-repeat: repeat, repeat, no-repeat;
  background-color: #13161F;
}

body:after {
  background-color: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: scale(1);
  transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

body.is-loading:after {
  opacity: 1;
  visibility: visible;
}

:root {
  --background-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --viewport-height: 100vh;
}

html {
  font-size: 18pt;
}

u {
  text-decoration: underline;
}

strong {
  color: inherit;
  font-weight: bolder;
}

em {
  font-style: italic;
}

code {
  background-color: rgba(144, 144, 144, 0.25);
  border-radius: 0.25em;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0 0.25em;
  padding: 0.25em 0.5em;
  text-indent: 0;
}

mark {
  background-color: rgba(144, 144, 144, 0.25);
}

s {
  text-decoration: line-through;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.25s ease;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--viewport-height);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#main {
  --alignment: center;
  --flex-alignment: center;
  --indent-left: 1;
  --indent-right: 1;
  --border-radius-tl: 0;
  --border-radius-tr: 0;
  --border-radius-br: 0;
  --border-radius-bl: 0;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  max-width: 100%;
  position: relative;
  text-align: var(--alignment);
  z-index: 1;
}

#main > .inner {
  --padding-horizontal: 4rem;
  --padding-vertical: 6rem;
  --spacing: 2rem;
  --width: 44rem;
  border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
  max-width: 100%;
  position: relative;
  width: var(--width);
  z-index: 1;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > * {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

#main > .inner > :first-child {
  margin-top: 0 !important;
}

#main > .inner > :last-child {
  margin-bottom: 0 !important;
}

#main > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
  width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
  border-radius: 0 !important;
  max-width: 100vw;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  right: auto;
}

body.is-instant #main, body.is-instant #main > .inner > *, body.is-instant #main > .inner > section > * {
  transition: none !important;
}

body.is-instant:after {
  display: none !important;
  transition: none !important;
}

h1, h2, h3, p {
  direction: var(--site-language-direction);
  position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
  display: block;
  position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark {
  -webkit-text-fill-color: currentcolor;
}

h1.style3, h2.style3, h3.style3, p.style3 {
  color: #FFFFFF;
  font-family: 'DM Serif Text', serif;
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 4.125em;
  line-height: 1.125;
  font-weight: 400;
}

h1.style3 mark, h2.style3 mark, h3.style3 mark, p.style3 mark {
  color: #6EFFBF;
  background-color: transparent;
}

h1.style3 a, h2.style3 a, h3.style3 a, p.style3 a {
  text-decoration: underline;
}

h1.style3 a:hover, h2.style3 a:hover, h3.style3 a:hover, p.style3 a:hover {
  text-decoration: none;
}

h1.style3 span.p:nth-child(n + 2), h2.style3 span.p:nth-child(n + 2), h3.style3 span.p:nth-child(n + 2), p.style3 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style1, h2.style1, h3.style1, p.style1 {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 300;
}

h1.style1 a, h2.style1 a, h3.style1 a, p.style1 a {
  text-decoration: underline;
}

h1.style1 a:hover, h2.style1 a:hover, h3.style1 a:hover, p.style1 a:hover {
  text-decoration: none;
}

h1.style1 span.p:nth-child(n + 2), h2.style1 span.p:nth-child(n + 2), h3.style1 span.p:nth-child(n + 2), p.style1 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style7, h2.style7, h3.style7, p.style7 {
  text-transform: uppercase;
  color: #4A4A4A;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.4rem;
  width: calc(100% + 0.4rem);
  font-size: 0.75em;
  line-height: 1.875;
  font-weight: 600;
}

h1.style7 a, h2.style7 a, h3.style7 a, p.style7 a {
  text-decoration: underline;
}

h1.style7 a:hover, h2.style7 a:hover, h3.style7 a:hover, p.style7 a:hover {
  text-decoration: none;
}

h1.style7 span.p:nth-child(n + 2), h2.style7 span.p:nth-child(n + 2), h3.style7 span.p:nth-child(n + 2), p.style7 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style4, h2.style4, h3.style4, p.style4 {
  text-align: center;
  color: #4A4A4A;
  font-family: 'DM Serif Text', serif;
  font-size: 5.625em;
  line-height: 1.125;
  font-weight: 400;
}

h1.style4 mark, h2.style4 mark, h3.style4 mark, p.style4 mark {
  color: #7B88FF;
  background-color: transparent;
}

h1.style4 a, h2.style4 a, h3.style4 a, p.style4 a {
  text-decoration: none;
}

h1.style4 a:hover, h2.style4 a:hover, h3.style4 a:hover, p.style4 a:hover {
  text-decoration: underline;
}

h1.style4 span.p:nth-child(n + 2), h2.style4 span.p:nth-child(n + 2), h3.style4 span.p:nth-child(n + 2), p.style4 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style6, h2.style6, h3.style6, p.style6 {
  color: #4A4A4A;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 300;
}

h1.style6 a, h2.style6 a, h3.style6 a, p.style6 a {
  text-decoration: underline;
}

h1.style6 a:hover, h2.style6 a:hover, h3.style6 a:hover, p.style6 a:hover {
  text-decoration: none;
}

h1.style6 span.p:nth-child(n + 2), h2.style6 span.p:nth-child(n + 2), h3.style6 span.p:nth-child(n + 2), p.style6 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style5, h2.style5, h3.style5, p.style5 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.4rem;
  width: calc(100% + 0.4rem);
  font-size: 0.75em;
  line-height: 1.875;
  font-weight: 600;
}

h1.style5 a, h2.style5 a, h3.style5 a, p.style5 a {
  text-decoration: underline;
}

h1.style5 a:hover, h2.style5 a:hover, h3.style5 a:hover, p.style5 a:hover {
  text-decoration: none;
}

h1.style5 span.p:nth-child(n + 2), h2.style5 span.p:nth-child(n + 2), h3.style5 span.p:nth-child(n + 2), p.style5 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style9, h2.style9, h3.style9, p.style9 {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 300;
}

h1.style9 a, h2.style9 a, h3.style9 a, p.style9 a {
  text-decoration: underline;
}

h1.style9 a:hover, h2.style9 a:hover, h3.style9 a:hover, p.style9 a:hover {
  text-decoration: none;
}

h1.style9 span.p:nth-child(n + 2), h2.style9 span.p:nth-child(n + 2), h3.style9 span.p:nth-child(n + 2), p.style9 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

h1.style8, h2.style8, h3.style8, p.style8 {
  color: #4A4A4A;
  font-family: 'DM Serif Text', serif;
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 4.125em;
  line-height: 1.125;
  font-weight: 400;
}

h1.style8 mark, h2.style8 mark, h3.style8 mark, p.style8 mark {
  color: #6EFFBF;
  background-color: transparent;
}

h1.style8 a, h2.style8 a, h3.style8 a, p.style8 a {
  text-decoration: underline;
}

h1.style8 a:hover, h2.style8 a:hover, h3.style8 a:hover, p.style8 a:hover {
  text-decoration: none;
}

h1.style8 span.p:nth-child(n + 2), h2.style8 span.p:nth-child(n + 2), h3.style8 span.p:nth-child(n + 2), p.style8 span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

.image {
  display: block;
  line-height: 0;
  max-width: 100%;
  position: relative;
}

.image .frame {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
  width: 100%;
}

.image .frame img {
  border-radius: 0 !important;
  max-width: 100%;
  vertical-align: top;
  width: inherit;
}

.image.full .frame {
  display: block;
}

.image.full:first-child .frame {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.image.full:last-child .frame {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.image.style1:not(:first-child) {
  margin-top: 4.75rem !important;
}

.image.style1:not(:last-child) {
  margin-bottom: 4.75rem !important;
}

.image.style1 .frame {
  width: 100vw;
  height: 19rem;
  transition: none;
}

.image.style1 img {
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
}

.image.style1 .frame img {
  transition: none;
}

.image.style2 .frame {
  width: 8rem;
  border-radius: 100%;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 10px;
  transition: none;
}

.image.style2 .frame img {
  transition: none;
}

.image.style3 .frame {
  width: 100vw;
  height: 19rem;
  transition: none;
}

.image.style3 img {
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
}

.image.style3 .frame img {
  transition: none;
}

.container {
  position: relative;
}

.container > .wrapper {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
}

.container > .wrapper > .inner {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
  text-align: var(--alignment);
}

#main .container.full:first-child > .wrapper {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#main .container.full:first-child > .wrapper > .inner {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper > .inner {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.container.style2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.container.style2:not(:first-child) {
  margin-top: 6rem !important;
}

.container.style2:not(:last-child) {
  margin-bottom: 6rem !important;
}

.container.style2 > .wrapper > .inner {
  --gutters: 5.125rem;
  --padding-horizontal: 0rem;
  --padding-vertical: 0rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style2 > .wrapper {
  max-width: var(--width);
  width: 100%;
}

.container.style2.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.container.style2.default > .wrapper > .inner > * :first-child {
  margin-top: 0 !important;
}

.container.style2.default > .wrapper > .inner > * :last-child {
  margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.container.style2.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}

.container.style2.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.container.style2.columns > .wrapper > .inner > * > * :first-child {
  margin-top: 0 !important;
}

.container.style2.columns > .wrapper > .inner > * > * :last-child {
  margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner > * :first-child {
  margin-left: calc(var(--gutters) * -1);
}

.container.style2.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
}

.container.style2.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.container.style2.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

.container.style2.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.container.style2.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

.container.style2.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% +(var(--padding-vertical) * 2));
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

.container.style1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20fill%3A%20none%3B%20stroke-width%3A%202.01px%3B%20stroke%3A%20rgba(0,0,0,0.031)%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22M0%2C448c128%2C0%2C128-128%2C256-128s128%2C128%2C256%2C128%22%20%2F%3E%20%3Cpath%20d%3D%22M0%2C192c128%2C0%2C128-128%2C256-128s128%2C128%2C256%2C128%22%20%2F%3E%3C%2Fsvg%3E'), linear-gradient(45deg, #4EBFBF 0%, #94AD5C 100%);
  background-size: 251px, cover;
  background-position: center, 0% 0%;
  background-repeat: repeat, repeat;
  border-radius: 0.75rem;
}

.container.style1:not(:first-child) {
  margin-top: 3.125rem !important;
}

.container.style1:not(:last-child) {
  margin-bottom: 6rem !important;
}

.container.style1 > .wrapper > .inner {
  --gutters: 5.125rem;
  --padding-horizontal: 3rem;
  --padding-vertical: 2.375rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style1 > .wrapper {
  max-width: var(--width);
  width: 100%;
}

.container.style1.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.container.style1.default > .wrapper > .inner > * :first-child {
  margin-top: 0 !important;
}

.container.style1.default > .wrapper > .inner > * :last-child {
  margin-bottom: 0 !important;
}

.container.style1.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.container.style1.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}

.container.style1.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.container.style1.columns > .wrapper > .inner > * > * :first-child {
  margin-top: 0 !important;
}

.container.style1.columns > .wrapper > .inner > * > * :last-child {
  margin-bottom: 0 !important;
}

.container.style1.columns > .wrapper > .inner > * :first-child {
  margin-left: calc(var(--gutters) * -1);
}

.container.style1.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
}

.container.style1.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.container.style1.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

.container.style1.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style1.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style1.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

.container.style1.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.container.style1.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

.container.style1.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% +(var(--padding-vertical) * 2));
}

.container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

.buttons {
  cursor: default;
  display: flex;
  justify-content: var(--flex-alignment);
  letter-spacing: 0;
  padding: 0;
}

.buttons li {
  max-width: 100%;
}

.buttons li a {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.buttons.style3 {
  gap: 0.625rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons.style3:not(:first-child) {
  margin-top: 2.75rem !important;
}

.buttons.style3:not(:last-child) {
  margin-bottom: 2.75rem !important;
}

.buttons.style3 li a {
  display: inline-flex;
  width: auto;
  height: 4.25rem;
  line-height: 4.25rem;
  padding: 0 2.125rem;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.375rem;
  padding-left: calc(0.375rem + 2.125rem);
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 2.5rem;
  box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.212);
  flex-direction: row-reverse;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons.style3 li a svg {
  display: block;
  fill: #FFFFFF;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  min-width: 18px;
  width: 1.5625em;
  margin-left: 0.5em;
  margin-right: calc(-0.125em + 0.375rem);
  transition: fill 0.25s ease;
}

.buttons.style3 li a .label {
  direction: var(--site-language-direction);
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons.style3 .button {
  background-color: #FF9F75;
  color: #FFFFFF;
  background-image: linear-gradient(252deg, #FF5959 0%, rgba(255, 159, 117, 0.008) 100%);
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: cover;
}

.buttons.style3 li a:hover {
  transform: scale(1.025);
}

.buttons.style1 {
  gap: 0.625rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons.style1:not(:first-child) {
  margin-top: 2.75rem !important;
}

.buttons.style1:not(:last-child) {
  margin-bottom: 2.75rem !important;
}

.buttons.style1 li a {
  display: inline-block;
  width: auto;
  height: 4.25rem;
  line-height: calc(4.25rem - 6px);
  padding: 0 2.125rem;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.375rem;
  padding-left: calc(0.375rem + 2.125rem);
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 2.5rem;
  direction: var(--site-language-direction);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons.style1 .button {
  color: #FFFFFF;
  border: solid 3px #FFFFFF;
}

.buttons.style1 li a:hover {
  transform: scale(1.025);
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--flex-alignment);
  letter-spacing: 0;
  padding: 0;
}

.icons li {
  position: relative;
  z-index: 1;
}

.icons li a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icons li a svg {
  display: block;
  position: relative;
}

.icons li a + svg {
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.icons li a .label {
  display: none;
}

.icons.style1 {
  font-size: 1.5em;
  gap: 1.5rem;
}

.icons.style1 li a {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.icons.style1 li a svg {
  height: 60%;
  width: 60%;
  transition: fill 0.25s ease;
}

.icons.style1 a svg {
  fill: #4A4A4A;
}

.icons.style1 a {
  border: solid 3px #4A4A4A;
}

.icons.style1 li a + svg {
  transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

.icons.style1 li a:hover {
  transform: scale(1.06);
}

.icons.style1 li a:hover + svg {
  transform: scale(1.06);
}

.icc-credits {
  display: block;
  opacity: 1 !important;
  position: relative;
  transition-delay: 0s !important;
}

.icc-credits span {
  border-radius: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1;
  position: relative;
  text-decoration: none;
  width: auto;
}

.icc-credits span a {
  display: inline-block;
  padding: 0.5em 0.375em;
  position: relative;
  text-decoration: none;
  transition: color 0.25s ease, transform 0.25s ease;
  z-index: 1;
}

.icc-credits span a:before {
  content: '( ';
  opacity: 1;
  transition: opacity 0.25s ease;
}

.icc-credits span a:after {
  content: ' )';
  opacity: 1;
  transition: opacity 0.25s ease;
}

.icc-credits span::after {
  background-image: linear-gradient(30deg, #A464A1 15%, #3B5DAD 85%);
  border-radius: inherit;
  box-shadow: 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.25);
  content: '';
  display: block;
  height: calc(100% + 2px);
  left: -1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -1px;
  transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
  width: calc(100% + 2px);
}

.icc-credits span:hover {
  text-transform: none !important;
}

.icc-credits span:hover a {
  color: #ffffff !important;
  transform: scale(1.1) translateY(-0.05rem);
}

.icc-credits span:hover a:before {
  opacity: 0;
}

.icc-credits span:hover a:after {
  opacity: 0;
}

.icc-credits span:hover::after {
  opacity: 1;
  transform: scale(1.1) translateY(-0.05rem);
}

#credits span {
  color: rgba(74, 74, 74, 0.498);
  margin-top: 1.5rem !important;
}

@media (max-width: 1920px) {
}

@media (max-width: 1680px) {
  html {
      font-size: 13pt;
  }
}

@media (max-width: 1280px) {
  html {
      font-size: 13pt;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 980px) {
  html {
      font-size: 11pt;
  }
}

@media (max-width: 736px) {
  html {
      font-size: 11pt;
  }

  #main > .inner {
      --padding-horizontal: 1.5rem;
      --padding-vertical: 4rem;
      --spacing: 2rem;
  }

  h1.style3, h2.style3, h3.style3, p.style3 {
      letter-spacing: 0.021875rem;
      width: calc(100% + 0.021875rem);
      font-size: 3em;
      line-height: 1.125;
  }

  h1.style1, h2.style1, h3.style1, p.style1 {
      letter-spacing: 0rem;
      width: 100%;
      font-size: 1em;
      line-height: 2;
  }

  h1.style7, h2.style7, h3.style7, p.style7 {
      letter-spacing: 0.35rem;
      width: calc(100% + 0.35rem);
      font-size: 0.75em;
      line-height: 1.875;
  }

  h1.style4, h2.style4, h3.style4, p.style4 {
      letter-spacing: 0rem;
      width: 100%;
      font-size: 3.5em;
      line-height: 1.125;
  }

  h1.style6, h2.style6, h3.style6, p.style6 {
      letter-spacing: 0rem;
      width: 100%;
      font-size: 1em;
      line-height: 2;
  }

  h1.style5, h2.style5, h3.style5, p.style5 {
      letter-spacing: 0.35rem;
      width: calc(100% + 0.35rem);
      font-size: 0.75em;
      line-height: 1.875;
  }

  h1.style9, h2.style9, h3.style9, p.style9 {
      letter-spacing: 0rem;
      width: 100%;
      font-size: 1em;
      line-height: 2;
  }

  h1.style8, h2.style8, h3.style8, p.style8 {
      letter-spacing: 0.021875rem;
      width: calc(100% + 0.021875rem);
      font-size: 3em;
      line-height: 1.125;
  }

  .image.style1:not(:first-child) {
      margin-top: 2.625rem !important;
  }

  .image.style1:not(:last-child) {
      margin-bottom: 2.625rem !important;
  }

  .image.style1 .frame {
      height: 23.75rem !important;
  }

  .image.style1 img {
      height: 100% !important;
      object-fit: cover;
      object-position: center;
      width: 100% !important;
  }

  .image.style2 .frame {
      width: 10rem;
  }

  .image.style3 .frame {
      height: 23.75rem !important;
  }

  .image.style3 img {
      height: 100% !important;
      object-fit: cover;
      object-position: center;
      width: 100% !important;
  }

  .container.style2:not(:first-child) {
      margin-top: 4rem !important;
  }

  .container.style2:not(:last-child) {
      margin-bottom: 4rem !important;
  }

  .container.style2 > .wrapper > .inner {
      --gutters: 5.125rem;
      --padding-horizontal: 0rem;
      --padding-vertical: 0rem;
  }

  .container.style2.columns > .wrapper > .inner {
      flex-direction: column !important;
      flex-wrap: nowrap !important;
  }

  .container.style2.columns > .wrapper > .inner > span {
      height: 0;
      margin-top: calc(var(--gutters) * -1);
      pointer-events: none;
      visibility: hidden;
  }

  .container.style2.columns > .wrapper > .inner > * :first-child {
      margin-left: 0 !important;
      padding-top: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > * {
      padding: calc(var(--gutters) * 0.5) 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > * :last-child {
      padding-bottom: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > div > .full {
      margin-left: calc(var(--padding-horizontal) * -1);
      width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type > .full {
      margin-left: calc(var(--padding-horizontal) * -1);
      width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type > .full {
      margin-left: calc(var(--padding-horizontal) * -1);
      width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style2.columns > .wrapper > .inner > div > .full:first-child {
      margin-top: calc(var(--gutters) * -0.5) !important;
  }

  .container.style2.columns > .wrapper > .inner > div > .full:last-child {
      margin-bottom: calc(var(--gutters) * -0.5) !important;
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
      margin-top: calc(var(--padding-vertical) * -1) !important;
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
      margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type, .container.style2.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type, .container.style2.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type, .container.style2.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
      border-bottom-left-radius: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type, .container.style2.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
      border-top-right-radius: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
      height: auto;
  }

  .container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
      height: auto;
      position: relative;
      width: auto;
  }

  .container.style1:not(:first-child) {
      margin-top: 4rem !important;
  }

  .container.style1:not(:last-child) {
      margin-bottom: 4rem !important;
  }

  .container.style1 > .wrapper > .inner {
      --gutters: 5.125rem;
      --padding-horizontal: 2rem;
      --padding-vertical: 2.375rem;
  }

  .container.style1.columns > .wrapper > .inner {
      flex-direction: column !important;
      flex-wrap: nowrap !important;
  }

  .container.style1.columns > .wrapper > .inner > span {
      height: 0;
      margin-top: calc(var(--gutters) * -1);
      pointer-events: none;
      visibility: hidden;
  }

  .container.style1.columns > .wrapper > .inner > * :first-child {
      margin-left: 0 !important;
      padding-top: 0 !important;
  }

  .container.style1.columns > .wrapper > .inner > * {
      padding: calc(var(--gutters) * 0.5) 0 !important;
  }

  .container.style1.columns > .wrapper > .inner > * :last-child {
      padding-bottom: 0 !important;
  }

  .container.style1.columns > .wrapper > .inner > div > .full {
      margin-left: calc(var(--padding-horizontal) * -1);
      width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style1.columns > .wrapper > .inner > div:first-of-type > .full {
      margin-left: calc(var(--padding-horizontal) * -1);
      width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style1.columns > .wrapper > .inner > div:last-of-type > .full {
      margin-left: calc(var(--padding-horizontal) * -1);
      width: calc(100% +(var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style1.columns > .wrapper > .inner > div > .full:first-child {
      margin-top: calc(var(--gutters) * -0.5) !important;
  }

  .container.style1.columns > .wrapper > .inner > div > .full:last-child {
      margin-bottom: calc(var(--gutters) * -0.5) !important;
  }

  .container.style1.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
      margin-top: calc(var(--padding-vertical) * -1) !important;
  }

  .container.style1.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
      margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }

  .container.style1.columns > .wrapper > .inner > div:first-of-type, .container.style1.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
  }

  .container.style1.columns > .wrapper > .inner > div:last-of-type, .container.style1.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
  }

  .container.style1.columns > .wrapper > .inner > div:first-of-type, .container.style1.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
      border-bottom-left-radius: 0 !important;
  }

  .container.style1.columns > .wrapper > .inner > div:last-of-type, .container.style1.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
      border-top-right-radius: 0 !important;
  }

  .container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child {
      height: auto;
  }

  .container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
      height: auto;
      position: relative;
      width: auto;
  }

  .buttons.style3 {
      gap: 0.625rem;
  }

  .buttons.style3:not(:first-child) {
      margin-top: 2.0625rem !important;
  }

  .buttons.style3:not(:last-child) {
      margin-bottom: 2.0625rem !important;
  }

  .buttons.style3 li a {
      letter-spacing: 0.375rem;
      padding-left: calc(0.375rem + 2.125rem);
      font-size: 0.75em;
  }

  .buttons.style3 li a svg {
      width: 1.5625em;
  }

  .buttons.style1 {
      gap: 0.625rem;
  }

  .buttons.style1:not(:first-child) {
      margin-top: 2.0625rem !important;
  }

  .buttons.style1:not(:last-child) {
      margin-bottom: 2.0625rem !important;
  }

  .buttons.style1 li a {
      letter-spacing: 0.375rem;
      padding-left: calc(0.375rem + 2.125rem);
      font-size: 0.75em;
  }

  .icons.style1 {
      font-size: 1.75em;
      gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  #main > .inner {
      --spacing: 1.75rem;
  }

  .image.style1 .frame {
      height: 19rem !important;
  }

  .image.style3 .frame {
      height: 19rem !important;
  }
}

@media (max-width: 360px) {
  #main > .inner {
      --padding-horizontal: 1.125rem;
      --padding-vertical: 3rem;
      --spacing: 1.5rem;
  }

  h1.style3, h2.style3, h3.style3, p.style3 {
      font-size: 3em;
  }

  h1.style1, h2.style1, h3.style1, p.style1 {
      font-size: 1em;
  }

  h1.style7, h2.style7, h3.style7, p.style7 {
      font-size: 0.75em;
  }

  h1.style4, h2.style4, h3.style4, p.style4 {
      font-size: 3.5em;
  }

  h1.style6, h2.style6, h3.style6, p.style6 {
      font-size: 1em;
  }

  h1.style5, h2.style5, h3.style5, p.style5 {
      font-size: 0.75em;
  }

  h1.style9, h2.style9, h3.style9, p.style9 {
      font-size: 1em;
  }

  h1.style8, h2.style8, h3.style8, p.style8 {
      font-size: 3em;
  }

  .image.style1 .frame {
      height: 16.625rem !important;
  }

  .image.style3 .frame {
      height: 16.625rem !important;
  }

  .container.style2 > .wrapper > .inner {
      --gutters: 3.84375rem;
      --padding-horizontal: 0rem;
      --padding-vertical: 0rem;
  }

  .container.style1 > .wrapper > .inner {
      --gutters: 3.84375rem;
      --padding-horizontal: 1.5rem;
      --padding-vertical: 1.78125rem;
  }

  .buttons.style3 {
      gap: 0.46875rem;
  }

  .buttons.style1 {
      gap: 0.46875rem;
  }

  .icons.style1 {
      gap: 1.125rem;
  }
}

  body {
      overflow: auto !important;
  }

  body:after {
      display: none !important;
  }

  #main > .inner {
      opacity: 1.0 !important;
  }